<div class="profile-card">
  <div class="header">
    <img src="assets/mi foto.jpg" alt="Profile Picture" class="profile-image">
    <div class="info">
      <h2>Nombre: Fernando Castro</h2>
      <p>Edad: 19 años</p>
      <p>Nacionalidad: Ecuatoriana</p>
    </div>
  </div>
  <hr>
  <div class="content">
    <div class="section">
      <img src="assets/educacion.png" alt="Education Icon" class="section-icon">
      <div class="section-text">
        <h3>Estudios</h3>
        <p>Unidad Educativa "Hermano Miguel" LA SALLE- Cuenca.</p>
        <p>Educación Secundaria Unidad Educativa Porvenir. Título obtenido: Bachiller Ciencias. Cuenca Ecuador</p>
      </div>
    </div>
    <div class="section">
      <img src="assets/hobbies.png" alt="Hobbies Icon" class="section-icon">
      <div class="section-text">
        <h3>Hobbies</h3>
        <ul>
          <li>Jugar Videojuegos</li>
          <li>Realizar Deporte</li>
          <li>Computacion</li>
          <li>Escuchar Musica</li>
        </ul>
      </div>
    </div>
    <div class="section">
      <img src="assets/experiencia laboral.png" alt="Experience Icon" class="section-icon">
      <div class="section-text">
        <h3>Experiencia Laboral</h3>
        <p>Empresa: Mumuso<br>Posición: Cajero</p>
        <p>Empresa: Supermaxi<br>Posición: Inventario</p>
        <p>Venta de Celulares<br>Restaurante</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="contact">
    <div class="contact-info">
      <p>TELEFONO(S): Móvil: 0999255357</p>
      <p>CORREO ELECTRONICO: Fernandocastro092gmail.com</p>
    </div>
    <img src="assets/contacto.jpg" alt="Contact Icon" class="contact-icon">
  </div>
</div>
